<div class="alert alert-info center">We are still working on this page</div>

<div class="page-header">
    <h1>About Us! <small></small></h1>
</div>

<div class="media">
  <a class="pull-left" href="https://sites.google.com/site/nitinpasumarthy/" target='_blank'>
    <img class="media-object" data-src="holder.js/128x128" alt="128x128">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Designed By</h4>
    Nitin Pasumarthy
  </div>
</div>

<div class="media">
  <a class="pull-left" href="" target='_blank'>
    <img class="media-object" data-src="holder.js/128x128" alt="128x128">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Lead</h4>
    Nikhil John
  </div>
</div>

<div class="media">
  <a class="pull-left" href="" target='_blank'>
    <img class="media-object" data-src="holder.js/128x128" alt="128x128">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Lead</h4>
    Naina Aggarwal
  </div>
</div>