<!-- <a href="/auth/open_id" class="auth_provider"> -->
  <%= 
  	# image_tag "intuit-openid.png", :alt => "INTUIT" 
  %>
<!-- </a> -->
<a href="/auth/google" class="auth_provider">
  <%= image_tag "google-oauth.png", :alt => "Google" %>
</a>
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter-oauth.png", :alt => "Twitter" %>
</a>