<p>If you have any files / photos to be attached to the event, click 
  <a href='https://docs.google.com/document/d/1T6gxo4omdFF6JQ9E3OQQwSM5uWWTIYIOit3KJMEn9OE/edit?usp=sharing' target='_blank'>here</a>.
</p>