<div class="page-header">
  <h1>Khul Ja Sim Sim</h1>
</div>
<!-- <p class="lead">OOPS!!!</p> -->
<%= image_tag "wrong1.jpg", :alt => "Couldn't load your image. Please refresh the page.", :class => 'img-responsive' %>
<!-- <img src="/public/treasure-hunt-clue.png" class='img-responsive' alt="Couldn't load your image. Please refresh the page."> -->