<div class="page-header">
  <h1>Khul Ja Sim Sim</h1>
</div>
<p class="lead">Here is your "Bulb and Equation"!!!</p>
<%= image_tag "treasure-hunt-clue.png", :alt => "Couldn't load your image. Please refresh the page.", :class => 'img-responsive' %>
<!-- <img src="/public/treasure-hunt-clue.png" class='img-responsive' alt="Couldn't load your image. Please refresh the page."> -->