<div class="page-header">
  <h1>Khul Ja Sim Sim</h1>
</div>
<p class="lead">Here is your next hint!!!</p>
<pre>

	{
            name:"Bulb and Equation"
            image_url:"http://ngn.intuit.com/treasurehunt/uQ9okO25zW"
            event:"Khul Ja Sim Sim"
            theme:"Service Ninja"
            description:"Figure Me Out"
            date:"23/04/2014"
            version:"0.2"
	}

</pre>
<!-- <p class="lead"><a href="/events">Check out all events here</a></p> -->