.rmargin10 {
    margin-right: 10px;
}

.tmargin10 {
    margin-top: 10px;
}

.bmargin10 {
    margin-bottom: 10px;
}

.lmargin10 {
    margin-left: 10px;
}

.rating span.glyphicon {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 24px;
    margin-left: -5px;
}

.btn-default.voted {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

a.auth_provider {
    margin-right: 10px;
}

a.auth_provider img {
    height: 30px;
    max-height: 30px;
    max-width: 150px;
}

a.auth_provider:hover {
    text-decoration: none;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}