<!--'type' can be either of ['success', 'info', 'warning', 'danger']-->

<% if type %>
    <% type = 'info' unless %w(success info warning danger).index(type) %>
    <p class="alert alert-<%= type %>"><%= notice %></p>
<% end %>

<script type="text/javascript">
  $(window).scrollTop(0);
</script>