<div class="rating pull-right rmargin10">
  <span class="medium-glyphicons glyphicon glyphicon-star-empty"></span>
  <span class="medium-glyphicons glyphicon glyphicon-star-empty"></span>
  <span class="medium-glyphicons glyphicon glyphicon-star-empty"></span>
  <span class="medium-glyphicons glyphicon glyphicon-star-empty"></span>
  <span class="medium-glyphicons glyphicon glyphicon-star-empty"></span>
</div>