<div class="btn-group thumbs" style="margin-left: 20px; margin-top: 10px;">
  <button type="button" class="btn btn-default btn-lg" title="Going!">
    <span class="glyphicon glyphicon-thumbs-up"></span>
  </button>
  <button type="button" class="btn btn-default btn-lg" title="Not Going!">
    <span class="glyphicon glyphicon-thumbs-down"></span>
  </button>
</div>